---
layout: base.html

pagination:
    data: photos.vsjdlqy.media
    size: 1
    alias: photo
    
permalink: "photos/{{ photo.id}}/index.html"

eleventyComputed:
    title: "{{photo.alt}}"
---
   
<header>

    <nav>
        <ul>
            <li>
                {% if pagination.href.previous %}
                    <a href="../..{{ pagination.href.previous }}index.html">Previous</a>
                {% else %}
                    Previous
                {% endif %}
            </li>
            <li> <a href = "../../index.html">Home</a> </li>
            <li>
                {% if pagination.href.next %}
                    <a href="../..{{pagination.href.next }}index.html">Next</a>
                {% else %}
                    Next
                {% endif %}
            </li>
        </ul>
    </nav>

</header>

<main>

    <figure>
        <figcaption style = "color:white; background-color: {{photo.avg_color}};">{{title}}</figcaption>
        <img src = "{{photo.src.landscape}}" alt = "{{photo.alt}}">
    </figure>
    
    
        <p>Photographer: <a href = "{{photo.photographer_url}}" target = "_blank">
            {{photo.photographer }} </a></p>
    
</main>