---
layout: base.html

pagination:
    data: photos.vsjdlqy.media
    size: 1
    alias: photo
    
permalink: "photos/{{ photo.id}}/index.html"

eleventyComputed:
    title: "{{photo.alt}}"
---

<header>
    <h1> {{title}}</h1>
    <a href = "/"> ab</a>
    <nav>
        <ul>
           <li> <a href = "../../index.html">Home</a> </li>
           <li>
                {% if pagination.href.previous %}
                    <a href="../..{{ pagination.href.previous }}index.html">Previous</a>
                {% else %}
                    Previous
                {% endif %}
            </li>
            <li>
                {% if pagination.href.next %}
                    <a href="../..{{pagination.href.next }}index.html">Next</a>
                {% else %}
                    Next
                {% endif %}
            </li>
        </ul>
    </nav>
</header>

<main>
      
    {% for photo in pagination.items %}
        <img src = "{{photo.src.landscape}}" alt = "{{photo.alt}}">
    {% endfor %}
    
</main>